.componente-login{
    width: 60%;
    height: 80%;
    margin: 1 auto;
    margin-top: 8%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(235, 235, 235, 0.493);
    border-radius: 25px;
}
.contenido-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    
}
.formulario-login{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}
.input-correo-login,
.input-password-login{
    padding: 14px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.boton-registrate{
    width: 35%;
    border-radius: 5px;
    background: rgb(11, 76, 161);
    margin: 15px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boton-login{
    border-radius: 5px;
    background: rgb(11, 76, 161);
    margin: 15px;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
}
.boton-registrate{
    background: rgb(216, 119, 40);
}

.boton-login:hover,
.boton-registrate:hover{
    background: rgba(60, 61, 60, 0.301);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.componente-login h1{
    font-size: 3em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 15px;
}
.registro{
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}