/*Estilos generales de la aplicación*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Sans&family=Questrial&family=Space+Mono&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background: rgb(46, 48, 46);
}
.layout .side,
.layout .main{
  height: 100%;
}
.layout .side{
  width: 40%;
  background:none;
}
.layout .main{
  width: 60%;
  background:none;
}
.display-user-page .main{
  width: 100%;
}

