/*Estilos generales de la aplicación*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Sans&family=Questrial&family=Space+Mono&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
}
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background: rgb(46, 48, 46);
}

.layout .main{
  width: 100%;
  height: 100%;
  background:none;
}